/* CV */

h1{
    text-align: center;
}

.accueil_link{
    position: absolute;
    top: 120px;
    left: 40px;

    /* Le text-align: center va se propager à l'ensemble de ses enfants */
    text-align: center;
    text-decoration: none;
}
.accueil_link img{
    width: 130px;
    margin: auto;
    display: block;
}
.accueil_link span{
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: black;
}

.content section {
    margin-top: 75px;
    margin-bottom: 150px;
    position: relative;
}
.content section span {
    font-size: 1.2em;
}
.content section p {
    text-align: justify;
}

.loisirs_content {
    background-image: 
        linear-gradient(90deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 50%), 
        url("../medias/fifa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
}
.loisirs_content > span {
    position: absolute;
    right: 30%;

    /* permet de parfaitement centrer verticalement l'élément */
    top: 50%;
    transform: translateY(-50%);

    background-color: white;
    padding: 10px;
}

/* classe utilitaire "flex-container" et enfants */
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.element-avec-legende {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.element-avec-legende img {
    width: 140px;
}

@media screen and (max-width: 1100px) {
    .accueil_link {
        top: 10px;
    }
    .accueil_link img {
        width: 50px;
    }
}

@media screen and (max-width: 1450px) {
    .image-fifa {
        scale: .7;
    }
}

@media screen and (max-width: 1250px) {
    #jeux-videos {
        top: 90%;
        left: 35%;
    }
}