/* CV */

h1{
    text-align: center;
}

.accueil_link{
    position: absolute;
    top: 120px;
    left: 40px;

    /* Le text-align: center va se propager à l'ensemble de ses enfants */
    text-align: center;
    text-decoration: none;
}

.accueil_link img{
    width: 130px;
    display: block;
}

.accueil_link span{
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: black;
}

section {
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
}

.image-fifa {
    background-image: 
        linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%),
        url("../medias/fifa.jpg");
    width: 600px;
    height: 200px;
}

#jeux-videos {
    position: absolute;
    top: 55%;
    left: 50%;
}

span {
    font-size: 1.2em;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.element-avec-legende {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.element-avec-legende img {
    width: 140px;
}

p {
    text-align: justify;
}

@media screen and (max-width: 1100px) {
    .accueil_link {
        top: 60px;
        scale: .9;
    }
}

@media screen and (max-width: 1450px) {
    .image-fifa {
        scale: .7;
    }
}

@media screen and (max-width: 1250px) {
    #jeux-videos {
        top: 90%;
        left: 35%;
    }
}